.header-0ghoiew{
    /* background: green; */
    display: flex;
    justify-content: space-between;
    position:relative;
    z-index:1
}

.header-0ghoiew > div:nth-child(1){
    flex-grow: 1;
    font-family: "Algerian";
    font-size: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-0ghoiew > div:nth-child(1):hover{
    font-size:9px;
    cursor: pointer;
}

.header-0ghoiew > ul{
    flex-grow: 8;
    display: flex;
}
.header-0ghoiew > div >  ul {
    /* background: green; */
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    width: 70%;
    align-items: center;
}
.header-0ghoiew > div >  ul > li{
    list-style: none;
    font-family: "Microsoft YaHei UI";
}

.header-0ghoiew > div >  ul > li:hover{
    font-weight: bolder;
}

.header-0ghoiew > div >  ul > li > a{
    text-decoration: none;
    color: black;
}
.header-0ghoiew > div >  ul > li > a:active{
    font-weight:bolder
}

.hamburger-fveq0dino{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-item-wrapper-qveiodan {
    flex-grow: 8;
    display: flex;
    justify-content: flex-end;
}
@media only screen and (min-width: 100px) and (max-width: 500px){
    .header-0ghoiew > div:nth-child(3) > ul{
        margin-right:5px
    }
}
@media only screen and (min-width: 320px) and (max-width: 768px){ 
    .header-0ghoiew > div:nth-child(3) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-basis: 1;
        position: absolute;
        margin-top: 50px;
    }
    .header-0ghoiew > div > ul {
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px;
        width: 100%;
        align-items: flex-end;
    }
    .header-0ghoiew > div > ul > li {
        list-style: none;
        font-family: "Microsoft YaHei UI";
        background: black;
        color: white;
        padding: 5px;
        margin: 3px 0px;
        border-radius: 5px;
        animation-name: listRenderer;
        animation-duration: 1s;
    }
    .header-0ghoiew > div > ul > li:hover {
        animation-name: listHover;
        animation-duration: 0.3;
        box-shadow: 5px 5px 8px 0px #949292; 
    }

    .header-0ghoiew > div > ul > li > a{
        color:white;
    }
    @keyframes listHover{
        from{
            opacity: 0;
            box-shadow: 0px 0px 0px 0px #949292; 
        }
        to{
            opacity: 1;
            box-shadow: 5px 5px 8px 0px #949292;
        }
     }
    @keyframes listRenderer{
        0%{
            opacity: 0;
            box-shadow: 0px 0px 0px 0px #949292; 
            transform: rotate(20deg); 
        }
        70%{
            opacity: 1;
            box-shadow: 5px 5px 8px 0px #949292; 
        }
        100%{
            opacity: 1;
            box-shadow: 0px 0px 0px 0px #949292; 
            transform: rotate(0deg);

        }
    }
}
@media only screen and (min-width: 992px){ 
.header-0ghoiew > ul{
    flex-grow: 8;
    display: flex;
}
.header-0ghoiew > div >  ul {
    /* background: green; */
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    width: 70%;
    align-items: center;
}
.header-0ghoiew > div >  ul > li{
    list-style: none;
    font-family: "Microsoft YaHei UI";
}

.header-0ghoiew > div >  ul > li:hover{
    font-weight: bolder;
}

.header-0ghoiew > div >  ul > li > a{
    text-decoration: none;
    color: black;
}
.header-0ghoiew > div >  ul > li > a:active{
    font-weight:bolder
}

.hamburger-fveq0dino{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-item-wrapper-qveiodan {
    flex-grow: 8;
    display: flex;
    justify-content: flex-end;
} 
}