.button-f8hweinod {
    color: black;
    background: white;
    outline: none;
    padding: 10px 8px;
    border: 0px;
    border-radius: 3px;
    font-family: arial;
    font-weight: bolder;
    cursor: pointer;
    font-size: 12px;
    margin: 5px 0px;
}

.button-f8hweinod:hover{
    color: white;
    background: black;
    font-size: 13px;
    box-shadow: 2px 3px 9px 1px #949292;
}